.game {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-board {
  padding: 3em;
}

.game-info {
  padding: 1em;
}

.go-to-move {
  background-color: rgb(151, 210, 250);
  border: none;
  border-radius: 0.2em;
  margin: 0.2em
}